.chart__container{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
}

.chart__card{
  width: 100%;
  height: 100%;
}
.card__title{
  font-weight:600;
  font-size: 0.8rem;
  margin: 0.8rem 0;
}
  #customer__table{
    width: 100%;

    th{
      text-align: left;
      font-size: 0.6rem;
    }
    td{
      margin: 0.5rem 0;
      font-size: 0.6rem;
    }
  }
  .tdata__name{
    display: flex;
    align-items: center;

    p{
      margin-left: 0.5rem;
    }
  }

  .btn{
    display: inline-block;
    background-color:red;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;

    &.gray__btn{
      background-color: rgb(215, 210, 214);
    }
    &.green__btn{
      background-color: rgb(149, 226, 180);
      color: rgb(44, 144, 80);
    }
    &.blue__btn{
      background-color: rgb(190, 201, 255);
      color: rgb(122, 143, 236);
    }
  }

  .orders__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem 0;

    .order__info{
      display: flex;
      align-items: center;
  }
}
.order__text{
  margin-left:0.5rem;

  .order__text--lg{
    font-weight:700;
    font-size: 0.8rem;
  }
  .order__text--sm{
    font-size: 0.6rem;
    color: $gray;
    margin-top: 0.3rem;
  }
}
.order__price{
  font-size:0.85rem;
}

.month__orders{
  p{
    font-weight: 700;
    font-size: 0.8rem;
  }
}
.donaught{
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
.pd-3{
  padding: 1.5rem;
}