$bg_clr: rgb(247, 250, 255);
$black_clr: #444;
$pry_clr: rgb(32, 93, 219);
$gray: rgb(125, 127, 131);
$green_clr: rgb(86, 201, 132);
$red_clr: rgb(242, 97, 114);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 10px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.container{
  display:flex;
}
